@model BookUpsertViewModel

@{
    var action = Model.Id == null ? "Create" : "Update";
    ViewBag.Title = $"{action} Book";
    Layout = "_Layout";
}

<form method="post">
    <div class="modal-header">
        <h4 class="modal-title">@action Book</h4>
    </div>
    @if (Model.Id != null)
    {
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" class="form-control" disabled/>
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    }
    <div class="mb-3">
        <label asp-for="Book.Title" class="form-label"></label>
        <input asp-for="Book.Title" class="form-control"/>
        <span asp-validation-for="Book.Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Book.Type" class="form-label"></label>
        <input asp-for="Book.Type" class="form-control"/>
        <span asp-validation-for="Book.Type" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Book.Price" class="form-label"></label>
        <input asp-for="Book.Price" class="form-control"/>
        <span asp-validation-for="Book.Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Book.Advance" class="form-label"></label>
        <input asp-for="Book.Advance" class="form-control"/>
        <span asp-validation-for="Book.Advance" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Book.Royalty" class="form-label"></label>
        <input asp-for="Book.Royalty" class="form-control"/>
        <span asp-validation-for="Book.Royalty" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Book.YtdSales" class="form-label"></label>
        <input asp-for="Book.YtdSales" class="form-control"/>
        <span asp-validation-for="Book.YtdSales" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Book.PublishedDate" class="form-label"></label>
        <input asp-for="Book.PublishedDate" class="form-control"/>
        <span asp-validation-for="Book.PublishedDate" class="text-danger"></span>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-default" value="Cancel" onclick="history.go(-1)">
        <input type="submit" class="btn btn-info" value="Save">
    </div>
    <span class="text-danger">@ViewBag.Error</span>
</form>
